html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    font-family: Arial;
    font-size: 18px;
}

.home {
    margin: 0;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

#banner {
    height: calc(100vh - 7px);
    width: 100%;
    transition: all .5s ease-in-out;
    z-index: 10;
}

#banner.subBanner {
    height: 68px;
}

div#headerHat {
    background-color: #ee3342;
    height: 7px;
    z-index: 1001;
    position: fixed;
    width: 100%;
}

.popupHeader {
    width: 100%;
    justify-content: normal;
    background: #bababa;
    position: fixed;
    z-index: 1000;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 7px;
}

.shape {
    float: left;
    clip-path: polygon(0 0, 100% 0%, 100% 35%, 0% 100%);
    height: 100%;
    z-index: 1000;
    position: absolute;
    background-color: white;
    text-align: center;
    min-width: 245px;

}

.shapeContainer {
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    opacity: 0;
    filter: drop-shadow(-1px 14px 10px rgba(0, 0, 0, 1));
    pointer-events: none;
}

span.para-holder p {
    text-align: center;
    display: inline-block;
    font-size: 1.6em;
    /* font-weight: 700; */
}

.PopRow {
    height: 100%;
    overflow: hidden;
}

.leftPopCol {
    display: flex;
    /* align-items: center; */
}

.popupHeaderIcon {
    width: 226px;
    height: 36px;
    margin-top: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    cursor: pointer;
}

.centerPopCol {
    justify-content: center;
    align-items: center;
}

.col-4.topCenterCol {
    min-width: 300px;
}

.rightPopCol {
    display: flex;
    align-items: center;
    height: 40px;
}

ul#menu-main-top-menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.rightMenuCol {
    height: 70px;
    display: flex;
    align-items: center;
}

.topMenu, .popupHeader a, .topMenu .menu__toggle {
    /* margin-top: 10px; */
    /* margin-bottom: AUTO; */
    padding-left: 0;
}

.main-menu .menu-item a {
    font-size: 1.6em;
    color: white;
}

.rightPopCol li.menu-item {
    display: inline-block;
    text-transform: capitalize;
    padding: 0 5px;
    font-size: 1em;
}

.rightPopCol .main-menu {
    margin-left: auto;
}

#banner>.staticHeader {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
}

button.menu__toggle {
    box-sizing: border-box;
    background-color: transparent;
    position: relative;
    z-index: 100;
    border: none;
    padding: 1px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.menu__toggle .bar, button.menu__toggle .other-bar {
    background-color: white;
}

button.menu__toggle .bars {
    transform: rotateY(180deg);
    display: block;
    width: 18px;
    height: 12px;
    position: relative;
    transition: transform .5s ease-in-out;
}

button.menu__toggle .bars .other-bar {
    width: 2px;
    height: 0;
    position: absolute;
    top: -2px;
    left: 45%;
    transition: height .4s ease-in-out;
    z-index: 10;
}

button.menu__toggle .bars .bar {
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 4px;
    transition: all .5s ease-in-out;
}

button.menu__toggle .bars .bar:first-child {
    margin-top: 0;
    width: 50%;
    transform: scaleX(1);
    transition: transform .2s ease-in-out;
    transition-delay: .4s;
}

button.menu__toggle .bars .bar:nth-child(2) {
    width: 75%;
    transition: width .2s ease-in-out;
}

button.menu__toggle[aria-expanded=true] .bars .bar:first-child {
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

button.menu__toggle[aria-expanded=true] .bars .bar:nth-child(2) {
    width: 100%;
    transition: width .2s ease-in-out;
}

button.menu__toggle[aria-expanded=true] .bars .bar:nth-child(3) {
    width: 0;
    transition: width .2s ease-in-out;
}

button.menu__toggle[aria-expanded=true] .bars .other-bar {
    height: 18px;
    transition: height .2s ease-in-out;
    transition-delay: .3s;
}

button.menu__toggle[aria-expanded=true] .bars {
    transform: rotate3d(.4, 1, 0, 180deg);
    transition-delay: .4s;
}

button.menu__toggle .menu__label {
    letter-spacing: 1.1px;
    letter-spacing: .06875rem;
    padding: 0 .5em;
    color: rgb(255, 255, 255);
    transition: all .5s ease-in-out;
    display: block;
    font-size: calc(16px + 7);
    text-transform: uppercase;
}

.menu__toggle:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.menu__overlay, .menu__overlay:after {
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
}

.menu__overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    opacity: 0;
    height: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
}

.menu__overlay.show {
    display: block;
    opacity: 1;
    pointer-events: all;
    height: 100vh;
    /* transition: all .3s ease-in-out; */
    background-color: #514a3b;
}

.menu__overlay:after {
    content: "";
    position: absolute;
    display: block;
    height: 60px;
    /* transition: all .3s ease-in-out .2s; */
    z-index: 1;
}

.menu__overlay.show:after {
    height: 100%;
    width: 319px;
    z-index: 0;
    background-color: #232321;
}

.menu__scroller {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: hidden;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
}

.menu__container {
    max-width: 100%;
    position: relative;
    z-index: 1;
    padding: 100px 0 50px;
}

li.menu-item {
    padding: 8px 0 0 0;
}

a.nav-link {
    color: white;
}

.topMenuCol {
    height: 70px;
    display: flex;
    align-items: center;
}

.col-6.topCenterCol {
    min-width: 312px;
}

.brand .logo {
    width: 278px;
    height: 150px;
    background-size: cover;
    transition: transform 1s;
    transform: translateY(-300px);
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.9));
    cursor: pointer;
}

#back-image-very-small, .main_background_slide, #gradiant {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100% - 40px);
    min-width: 100%;
    position: absolute;
    margin-top: 40px;
}

section#gradiant {
    height: 50%;
}

.introImageSection {
    position: absolute;
    background-size: cover;
}

#gradiant {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .0));
}

.image-holder {
    text-align: center;
    margin: 3vh 6vw;
}

.main-icon-image {
    width: 22vw;
    padding: 0;
    min-width: 195px;
}

span.para1-holder {
    text-align: center;
    padding: 30px 15px;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.para1-holder p {
    max-width: 1200px; 
    text-align: center;
    margin: 0;
}

.col.col-4.slideShowBoxCol {
    max-width: 300px;
}

.slideShowBoxContainer {
    height: 450px;
    display: grid;
    justify-items: center;
    align-items: end;
}

.slideShowBox {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
}

.slideShowBoxTitle {
    font-size: larger;
    padding: 10px 0px 5px 0
}

.slideShowBoxText {
    padding: 0 0px 0 0px;
}

div#polygon1-holder {
    clip-path: polygon(0 0, 100% calc(8vw), 100% 100%, 0% 100%);
    width: 100%;
    background-color: #fddcc5;
    text-align: center;
    min-width: 245px;
    padding: 100px 50px 35px 50px;
}

div#iconText-holder, div#iconText-holder2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

div#iconText-holder2 {
    padding-top: 0px;

}

.iconText {
    min-width: 264px;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* margin-left: auto; */
    margin-right: auto;
}

.iconTextText {
    max-width: 300px;
    text-align: left;
    padding: 15px 0;

}

div#iconTextText3 {
    max-width: 100%;
}

.iconTextIcon {
    width: 91px;
    height: 105px;
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0.3rem 0.15rem rgba(0, 0, 0, 0.4));
}

div#polygon1-title, div#polygon1-text,
div#polygon3-title, div#polygon3-text {
    text-align: left;
}

div#polygon1-title, div#polygon2-title, div#polygon3-title, #contactTitle {
    color: #f03343;
    font-size: x-large;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

div#polygon1-text, div#polygon2-text, div#polygon3-text, #contactText, #contactFormTitle {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

div#polygon3-text {
    margin: 15px auto;
}

.row.slideBoxRow {
    margin: 25px 0 0 0;
}

div#polygon2-holder {
    clip-path: polygon(0 8vw, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    background-color: #dbdcdc;
    text-align: center;
    min-width: 245px;
    padding: 80px 40px;
    text-align: right;
}

div#grid1-holder, div#grid2-holder {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

div#grid1-header, div#grid2-header {
    margin: 20px 0;
    font-weight: 700;
}

div#grid1-header:empty, div#grid2-header:empty {
    display: none;
}

div#grid1-items, div#grid2-items {
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: .5em;
    grid-column-gap: 1em;
}
div#grid1-items{direction: rtl;}


.gridItem {
    padding: 10px 0px 10px 0px;
    text-align: left;
    width: 30vw;
    min-width: 300px;
    max-width: 350px;
}

.slideShowStripContainer {
    height: 300px;
    display: grid;
}

.slideShowStrip {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 1;
    grid-row: 1;
}

div#polygon3-holder {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8vw), 0% 100%);
    width: 100%;
    background-color: #fddcc5;
    text-align: center;
    min-width: 245px;
    padding: 40px 40px 120px 40px;
}

.contactBuffer {
    padding: 0 10px;
}

.contactHolder {
    padding: 0px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    margin-top: -50px;
}

.thanksContactMessage {
    display: none;
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
}

div#contactText {
    max-width: 600px;
    margin-top: 5px;
    margin-bottom: 30px;
    display: inline-block;
}

div#contactTitle {
    padding-top: 0;
}

div#mainContactContainer {
    text-align: left;
    max-width: 650px;
    margin: 0;
}

label.inquiringLabel {
    padding-right: 2em;
}

.checkHolder {
    display: inline-block;
}

div#content {
    position: relative;
}

.fieldLabel {
    font-size: 18px;
    width: 206px;
    vertical-align: top;
}

.field {
    width: 317px;
    max-width: 90%;
}

.txtField {
    width: 100%;
}

.messageHolder {
    width: 100%;
    max-width: 400px;
    display: inline-block;
}

.contactInput {
    padding: 16px 0;
}

.inputHolder {
    display: inline-block;
}

p.formError {
    margin: 0;
    padding-top: 20px;
    color: #f03343;
    max-height: 0;
}

.formItemError {
    position: absolute;
    color: #f03343;
}

.contactSubmit {
    margin-top: 24px;

}
#contactSubmit {
    padding: 5px;
    background-color: #fddcc5;
    border-radius: 7px;
    width: 60px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
}

div#bottomBanner {
    text-align: center;
    color: #f03343;
    font-size: larger;
    padding: 40px 10px 20px 10px;
}

footer.footer {
    background-color: #ee3342;
    padding: 10px 20px;
}

footer .row {
    justify-content: center;
}

div.footer-details {
    padding: 40px 10px;
    min-width: 300px;
}

.footer-logo {
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-address {
    color: white;
    text-align: center;
    padding: 5px 10px;
    font-size: 22px;
}

.footer-text {
    color: white;
    text-align: center;
    padding: 5px 10px;
    font-size: 22px;
}

.footer-tel-email {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-tel a {
    color: white;
    font-size: 22px;
    white-space: nowrap;
}

.footer-email, .footer-email a {
    color: white;
    font-size: 22px;
    white-space: nowrap;
}

.footer-tel, .footer-email {
    padding: 5px 10px;
}

div.footer-map {
    text-align: left;
    margin: auto;
    min-width: 330px;
}

.footerMap {
    display: inline-block;
    transition: all 1.5s ease-out;
    width: 300px;
    height: 150px;
}


.footerMap iframe {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: auto;
}

.footerMap::before {
    content: '';
    position: absolute;
    z-index: 2;
    box-shadow: inset 7px 7px 10px -1px #0000009c;
    /* top: 0;
    bottom: 0;
    left: calc(50% - 150px); */
    transition: all 1.5s ease-out;
    width: 300px;
    height: 150px;
    pointer-events: none;
}

div.footerMap:hover::before {
    width: calc(100% - 30px);
    height: 250px;
    left: 15px;
}

div.footerMap:hover  {
    width: 100%;
    height: 250px;
}




@media (max-height: 600px) {
    .menu__container {
        padding-top: 85px;
    }

    .main-menu .menu-item a {
        font-size: 1.2em;
    }

    .image-holder {
        margin: 12px 6vw 5px 6vw;
    }

    span.para-holder p {
        font-size: 0.8em;
    }

    .main-icon-image {
        width: 146px;
        min-width: unset;
    }

    #main_background_slide_1 {
        background-position: 0px -42px;
    }

    #main_background_slide_3 {
        background-position: center 0px;
    }

}
@media (max-width: 1000px) {
    div#grid1-items, div#grid2-items {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 800px) {
    .shapeContainer {
        z-index: 0;
    }

    .image-holder {
        margin: 55px 0 5px 0;
    }

    span.para-holder p {
        /* font-size: 1.3em; */
    }

    .rightPopCol .main-menu {
        margin: 0;
        width: 100%;
        padding-inline-start: 0px;
    }

    .rightPopCol li.menu-item {
        font-size: 0.5em;
        width: 22%;
    }


    div#altTitle {
        font-size: 1.2em;
    }

    #introMenu .introMenuSeperator {
        opacity: 0;
    }

    .centerPopCol {
        text-align: right;
    }

    .col.rightMainSecCol, .col.leftMainSecCol {
        max-width: 85%;
    }

    .MainSecBoxSel a {
        font-size: calc(16px + 7 * ((100vw - 768px) / 672))
    }

    footer .row .col {
        min-width: 51%;
    }

    .foot_select {
        margin-left: auto;
        margin-right: auto;
    }

    footer nav .menu-item {
        text-align: center;
    }

}
@media screen and (max-width: 600px) {

    .contactHolder {
        margin-top: 0;
    }

    #main_background_slide_0 {
        background-position: -175px 0px;
    }

    #main_background_slide_2 {
        background-position: -247px 0px;
    }

    #main_background_slide_3 {
        background-position: -234px 0px;
    }

    .footer-email, .footer-email a {
        font-size: 15px;
    }

    #wpadminbar {
        position: fixed;
    }

    div#polygon3-holder {
        padding-bottom: 40px;
    }

    div#grid1-items, div#grid2-items {
        grid-template-columns: auto;
    }
    
    #contactText br{
        display: none;
    }
}


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #ee3342;
    font-size: 5px;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translate(22px, -14px);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    display: inline-block;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
