html {
    overflow: hidden;
    /* overflow-y: scroll; */
    color-scheme: dark;
}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    color: white;
}

.main {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 118px);
}

.megrim-regular {
    font-family: "Megrim", system-ui;
    font-weight: 400;
    font-style: normal;
}

div#navbarNav {
    justify-content: right;
}

.splash {
    height: calc(100vh - 91px);
    background-color: #00050c;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.splashItems, #glassback, #imageback {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.splashItems {
    position: absolute;
}

.glassback {
    width: 100%;
    opacity: 0.4;
    position: absolute;
    backdrop-filter: blur(7px);
}

.imageback {
    position: absolute;
    background-position: center;
    background-size: cover;
    width: 100%;
    opacity: 0;
}

.splashItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#splashTitle {
    font-size: 70px;
    margin: 0px;
    transition: transform 2s ease-out;
    transform: translateX(200vw);
}

div#splashMoto {
    font-size: 25px;
    margin: 0px;
    transition: transform 1s 3s ease-out;
    transform: translateY(200vh);
}


.whyUs {
    background-color: #212529;
    padding: 12vh 30px;
    display: flex;
    justify-content: center;
}

.whyUsWord {
    display: inline-block;
}

div#whyUsWords {
    max-width: 1000px;
    text-align: center;
}

.flutter span {
    transition: opacity 1s ease-in, transform 1s ease-out;
    display: inline-block;
    margin: 0;
}

div#serviceList {
    background-color: #212529;
    display: grid;
    grid-template-columns: repeat(3, 353px);
    grid-template-rows: repeat(2, 267px);
    grid-gap: 9px;
    justify-content: center;
    padding: 60px 0; 
}

.serviceItem {
    box-shadow: inset -10px -10px 15px rgb(20 20 20 / 50%), inset 10px 10px 15px rgb(65 65 65 / 94%);
}

.serviceItemName {
    text-align: center;
    padding: 10px 0;
}

.serviceItemDesc {
    font-size: 15px;
    text-align: center;
    padding: 0 10px;
}






.footerSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: black solid 1px;
    background: #212529;
}




#keyboard-base {
    padding: 0px;
    transform-origin: 50%;
    transform: perspective(1000px) translate3d(0px, 0px, 0px) rotate3d(1, 0, 0, 0deg) scale(.5);
    background-color: rgb(0, 0, 0, 0);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(5, 60px);
    grid-gap: 9px;
}

#keyboard-base.inPlace {
    transition: transform 2s ease-out;
    transform: perspective(1000px) translate3d(0px, 0px, 40px) rotate3d(1, 0, 0, 50deg) scale(.5);
}

.key.inPlace {
    transition: transform 10s ease-out, opacity 5s !important;
    opacity: .8 !important;
    transform: none !important;
}

.key {
    background-color: rgb(0 0 0);
    border: 2px solid #b91515;
    border-radius: 5px;
    grid-column: span 2;
    font-size: 20px;
    text-align: center;
    padding-top: 17px;
    opacity: 0;
}

.key:hover {
    border: 1px solid #eeeeee;

}

.delete {
    grid-column: span 4;
}

.tab {
    grid-column: span 3;
}

.backslash {
    grid-column: span 3;
}

.capslock {
    grid-column: span 4;
}

.return {
    grid-column: span 4;
}

.leftshift {
    grid-column: span 5;
}

.rightshift {
    grid-column: span 5;
}

.leftctrl {
    grid-column: span 3;
}

.command {
    grid-column: span 3;
    font-size: 14px;
}

.space {
    grid-column: span 13;
}

@media (max-width: 1530px) {

    div#splashMoto {
        text-align: center;
    }

}